/* tablets */
@media screen and (max-width:1024px){
    header img{
        margin-right: 100px;
    }

    #left-nav, #right-nav{
        display: none;
    }

    .ri-menu-line{
        display: initial;
    }

    main{
        flex-wrap: wrap;
        justify-content: center;
    }
}

/* mobile */
@media screen and (max-width:720px){
    header{
        padding: 20px 33px;
    }

    main #content{
        padding: 33px;
    }

    main img{
        width: 375px;
    }
}